{% extends 'master.njk' %}

{% block content %}
Te {{ count }} almát kértél
<form action="/alma/oldala">
    <input type="text" name="count" placeholder="hány alma?">
    <button type="submit">Küldés</button>
</form>
{% endblock %}