{% extends 'master.njk' %}

{% block content %}
 <div>Te {{ count }} almát kértél</div>
<form action="/alma/oldala" method="POST">
    <input type="text" name="count" placeholder="hány alma?">
    <button type="submit">Küldés</button>
</form>
{% endblock %}